@use "../../constants/variables" as *;
@use "../../utils/mixins" as *;

.button {
    background-color: transparent;
    background-image: none;
    border: 0;
    display: inline-block;
    box-shadow: none;
    letter-spacing: 0.25px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.button--icon-only {
    display: inline-grid;
    vertical-align: middle;
}

.button__icon {
    vertical-align: baseline;

    &--before {
        margin-right: 10px;
    }

    &--after {
        margin-left: 10px;
    }

    &--center {
        margin: auto;
    }
}

.button-slot {
    @include font-size(xs);
    border-radius: 3px;
    text-align: center;
    font-weight: $weight--bold;
    transition: background-color $transition, color $transition;
    background-color: $color--white;
    border: 1px solid $color--blue;
    color: $color--blue;
    padding: 7px 22px;
    margin: 0 20px 20px 0;
    min-width: 90px;

    @include media-query(tablet-portrait) {
        &:hover {
            background-color: $color--blue;
            color: $color--white;
        }
    }

    &--selected {
        &,
        &:focus {
            background-color: $color--blue;
            color: $color--white;
        }
    }
}

.button-rounded {
    border-radius: 3px;
    padding: 14px 37px;
    text-align: center;
    border: 1px solid transparent;
    font-weight: 600;
    transition: background-color $transition, color $transition;

    &--small {
        @include rem-font-size(10px);
        padding: 9px 12px;
    }

    &--pink {
        background-color: $color--pink;
        color: $color--white;

        @include media-query(tablet-portrait) {
            &:hover,
            &:focus {
                background-color: $color--purple;
                color: $color--white;
            }
        }
    }

    &--pink-ghost {
        border-color: $color--pink;
        color: $color--pink;

        @include media-query(tablet-portrait) {
            &:hover,
            &:focus {
                background-color: $color--pink;
                color: $color--white;
            }
        }
    }

    &--blue {
        background-color: $color--blue;
        color: $color--white;

        @include media-query(tablet-portrait) {
            &:hover,
            &:focus {
                background-color: $color--purple;
                color: $color--white;
            }
        }
    }

    &--blue-ghost {
        border-color: $color--blue;
        color: $color--blue;

        @include media-query(tablet-portrait) {
            &:hover,
            &:focus {
                background-color: $color--blue;
                color: $color--white;
            }
        }
    }
}

.button-action {
    @include rem-font-size(14px);
    color: $color--pink;
    font-weight: 800;
    padding: 5px 15px 5px 0;

    @include media-query(tablet-landscape) {
        @include font-size(s);
        font-weight: $weight--medium;
    }

    &:hover,
    &:focus {
        color: $color--purple;
    }
}
